/* palette

RICH

pale - #F2C2EF
muted pale - #F2C9F0
neon - #F2A2ED
muted neon - #D996D4
darker muted - #A67CA3
dark purple - #260120
off black - #0D0D0D

*/

html {
  font-family: "Lato", sans-serif;
  color: #f2a2ed;
  background-image: linear-gradient(#0d0d0d, #260120);
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility: hidden;
}
