/* palette

pale - #F2C2EF
muted pale - #F2C9F0
neon - #F2A2ED
muted neon - #D996D4
darker muted - #A67CA3
dark purple - #260120
off black - #0D0D0D

*/

html {
  background-color: #0d0d0d;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  min-width: 997px;
  max-width: 997px;
}

.title-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 0.05em;
  font-size: 4.2em;
  text-transform: uppercase;
  color: #f2a2ed;
}

.box-text {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

#header {
  display: flex;
  justify-content: flex-end;
}

a {
  font-family: "Work Sans", sans-serif;
  color: #f2a2ed;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
}

a:hover {
  color: #a67ca3;
}

#sub-title {
  display: flex;
  display: block;
  text-align: right;
  float: right;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.gdt {
  background-image: linear-gradient(transparent, #0d0d0d);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 2400;
}

.glfx {
  background-image: url(img/glitch1.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 2400;
}

#box-left {
  margin-top: 37px;
}

.lbox {
  display: flex;
  margin-bottom: 6em;
  width: 501.5px;
  height: 255px;
  transform: skew(-6deg);
  background-color: #f2a2ed;
}

#over-text {
  position: absolute;
  top: 187px;
  left: 207px;
  width: 500px;
  height: 50px;
}

/* #bar {
  position: absolute;
  border-radius: 50px;
  left: 50%;
  width: 5px;
  height: 97px;
  background-color: #f2a2ed;
  z-index: 0;
} */
