/* palette

RICH

pale - #F2C2EF
muted pale - #F2C9F0
neon - #F2A2ED
muted neon - #D996D4
darker muted - #A67CA3
dark purple - #260120
off black - #0D0D0D

*/

html {
  /* background-image: linear-gradient(#0d0d0d, #260120); */
  background-color: #0d0d0d;
  height: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.titleText {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.04em;
  font-size: 3.5em;
  text-transform: uppercase;
  color: #f2a2ed;
}

#header {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.bigText {
  font-family: "Work Sans", sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  color: #f2a2ed;
  text-shadow: 7px 7px #260120, -7px -7px #f2c9f0;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.invisible {
  visibility: hidden;
}
